server {
    listen 8888; 
    server_name example.com; # 你的域名或公网IP

    location / {
        proxy_pass http://127.0.0.1:6868; # Gunicorn应用地址
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}